.weddingPic {
	float: left;
	padding-right: 10px;
	padding-bottom: 16px;
}

hr {
  border:none;
  border-top:1px dotted #2a2a2a;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

.details{
    float:left;
}

.details h3{
    font-size:1em;
    margin-top:0;
    margin-bottom:5px;
}

.details p {    
    font-size:0.9em;
	margin-top: 0px;
	margin-bottom: 1px;
}

.weddingItem{
	clear: both;
    margin-bottom:5px;
}

.weddingItem img{
	width:80px;
}
.formitem{
    width:100%;
    display: table; 
    padding-bottom:5px;
}

.formsend{
    width:100%;
    display: table; 
}

.frmlbl{
    width:30%;
    display: table-cell;
}

.frmimput{
    display: table-cell;
}